fastapi
uvicorn
python-dotenv
psycopg2-binary
SQLAlchemy
python-multipart
python-jose[cryptography]

alembic
annotated-types
anyio
bcrypt
certifi
click
colorama
dnspython
ecdsa
email_validator
greenlet
h11
httpcore
httpx
idna
Mako
MarkupSafe
passlib
pyasn1
pydantic
pydantic_core
rsa
six
sniffio
starlette
typing-inspection